/* Material Skin Custom Css file., Copyright 2020. BlueWhite all right reserved.
https://badawiki.site https://github.com/BadaWikiDev https://oceanthink.dev */

/* Custom Class Start */

.profile-img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0;
    border: 1px solid #e1e8ed;
}

.navbar-nav {
	flex-direction: row;
}

.navbar {
	padding: .3rem 1rem;
}

.mt-5,.my-5 {
	margin-top:0.25rem!important;
}

.scroll-toc {
    margin-right: -8px;
}

.navbar-brand {
    margin: auto;
    font-size: 28px;
}

.form-control {
    display: inline-block;
    width: auto;
}

.btn {
    margin: 0;
    padding: .5rem 1.6rem
}

div.scroll-buttons a {
    display: inline-block;
    width: 42px;
    height: 42px;
    padding: 5px 8px 9px 8px;
    border: 1px solid #545454;
    border-left: 0;
    text-decoration: none;
    text-align: center;
    background: rgba(26,26,26,0.9);
    border-bottom: 0;
    color: white;
}

div.scroll-buttons {
    position: fixed;
    float: right;
    height: 42px;
    text-align: right;
    font-size: 1.7em;
    z-index: 10000;
    margin-bottom: -10px;
    bottom: 10px;
    right: 0px;
    opacity: 0.8;
}

.scroll-buttons .fa {
    margin-top: 5px;
}

a.navbar-brand {
    width: auto;
    margin-right: 20px;
}

/* Custom Class End */

/* Custom CSS Start */

body {
	font-family: '나눔바른고딕', 'NanumBarunGothic', sans-serif;
	font-size : 14.5px!important;
}

sub, sup {
    line-height: 1.6rem;
}

select {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

input {
    border: 1px solid #e1e8ed;
    padding: 5px;
    border-radius: 3px;
}

select {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

input {
    border: 1px solid #e1e8ed;
    padding: 5px;
    border-radius: 3px;
}

textarea {
    width: 100%;
	border: 1px solid #e1e8ed;
    padding: 5px;
    border-radius: 3px;
}

s, strike, del {
    color:gray;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
}

input[type="checkbox"] {
    width: auto;
}

s:hover, strike:hover, del:hover {
    text-decoration:none;
}

/* Custom CSS End */

/* Custom ID Start */

#nologinmobile {
	padding: 0 .6rem;
	margin-top: 9px;
}

#nologinusermenu {
	padding: 0 .6rem;
}

#syntax {
    margin-bottom: -20px;
}

#cate {
	border: 1px solid #e1e8ed;
    padding: 0.4rem;
    padding-left: 1rem;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

form#searchform {
    margin-bottom: 0;
}

div#pre_search {
	position: absolute;
	z-index: 3;
	border: 1px solid #ccc;
	background-color: #fff;
	width: 10.8rem
}

div#pre_search a {
    color: black;
}

#searchbutton {
    border: 1px solid #ced4da;
    padding: 5px 10px 5px 10px;
    background: white;
	box-shadow: none;
}

#searchbutton:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#searchbutton::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

#not_thing {
    color: #bf4c4c;
}

#out_link {
    color: #008000;
}

#out_link::before {
    padding: 0 .15em;
    background: green;
    color: white;
    content: "外";
}

#topbutton {
	display: inline-block;
    padding: 10px;
    width: 60px;
    border-radius: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    height: 60px;
    margin: 0 100px 20px 0;
    color: gray;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#bottombutton {
	display: inline-block;
    padding: 10px;
    width: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    height: 60px;
    background-color: #ffffff;
    color: gray;
    margin: 0 20px 20px 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#bottom {
	border-bottom: none;
	border-top: 1px solid rgba(0,0,0,.125)
}

#navbarSupportedContent {
	height: 42.01px;
}

/* Custom ID End */

/* Media Tag Start */

@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1150px;
	}
}

@media (min-width: 1023px) {
	.col-md-4 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	
	.col-md-8 {
		-ms-flex: 0 0 80%;
		flex: 0 0 80%;
		max-width: 80%;
	}
	
	#nologinmobile {
		display: none;
	}
	
	#loginmobile {
		display: none;
	}
}

@media (max-width: 1022px) {
	.container {
		margin-right: 0px;
		margin-left: 0px;
		padding-right: 0px;
		padding-left: 0px;
		max-width: 100%;
	}
	
	.col-md-4 .mb-4 {
		display: none;
	}
	
	.col-md-8 {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.row {
		display: block;
		margin-right: 0;
		margin-left: 0;
	}
	
	.card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 0.5rem;
	}
	
	.ocean {
		display: none;
	}
	
	.my-4 {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#nologinusermenu {
		display: none;
	}
	
	#loginusermenu {
		display: none;
	}
}

@media (min-width: 768px) {
	.navbar-expand-lg .navbar-toggler {
		display: none;
	}
	
	.navbar-expand-lg .navbar-collapse {
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	
	#nologinusermenu {
		display: block;
	}
	
	#nologinmobile {
		display: none;
	}
	
	#loginusermenu {
		display: block; 
	}
	
	#loginmobile {
		display: none;
	}
}

/* Media Tag End */